@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/Poppins-Light.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Poppins-Medium.ttf');
}

body,
html {
	/* Navbar height */
	scroll-padding-top: 60px;
}

.no-x-scroll {
	max-width: 100%;
	overflow-x: hidden;
}
